@charset "UTF-8";

/* 1920 Leyendecker */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; 
}
a {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, label, input[type=submit], input[type=button]  {
    font-weight: 600; 
}
h1 {
 font-size: 1.8em;
}
label {
    margin-right: 0.5em;
}
input[type=submit], input[type=button] {
    padding: 0.5em 0.5em;
    color: #ecdfdb;
    background-color: #20457c;
    border: 0;
}
input[type=text], input[type=password] {
    border: 1px solid white;
}
input[type=text]:focus, input[type=password]:focus {
    border: 1px solid #20457c;
}
html {
    line-height: 1.5em;
    height: 100%; 
}
body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 100%;
    position: relative; 
}
.container {
    margin-left: auto;
    margin-right: auto;
}
.container:after {
    content: " ";
    display: block;
    clear: both; 
}
.header {
    z-index: 100;
    padding: 1em 1em;
    margin: 0 auto;
    position: relative;
    color: #ecdfdb;
    background-color: #20457c;
}
.power-off {
    background-color: #fb6648;
    vertical-align: middle;
}
.power-on {
    background-color: #5e3448;
    vertical-align: middle;
}
.vert-middle {
    vertical-align: middle;
}
.center {
    text-align: center;
    width: 60%;
}
.side {
    width: 20%;
    min-width: 2em;
}
.right {
    text-align: right;
}
.inline {
    display: inline-block;
}
.main {
    color: #3b3a38;
    background-color: #ecdfdb; 
    padding: 1em 2em; 
}
.login {
    margin: 3em auto;
}
.max {
    max-width: 59em;
}
.square-2 {
    width: 2em;
    height: 2em;
}
.marg-vert-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}
.marg-1 {
    margin: 1em;
}
.width-10 {
    width: 10em;
}
.width-6 {
    width: 6em;
}
.labeled-input {
    padding: 0.2em 0.2em; 
}
.big {
    font-size: 4em;
    padding: 2em;
}

/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 0.1em; 
  border: 1px solid #ccc; 
  text-align: left; 
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #20457c; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
        td:nth-of-type(1):before { content: "Name"; }
	td:nth-of-type(2):before { content: "Price"; }
	td:nth-of-type(3):before { content: "Category"; }
	td:nth-of-type(4):before { content: "Date"; }
	td:nth-of-type(5):before { content: "User"; }
}
